---
import App from "../components/App";
import "../global.css";
import "../amazon.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/amazon-fake-reviews/favicon.svg"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Fake vs Real Amazon Reviews</title>
  </head>
  <body class="w-full h-full text-gray-700 bg-gray-100">
    <App client:only="react" />
  </body>
</html>
